<template name="projectsList">
	
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4>Your projects</h4>
			</div>


			 <!-- Table -->
  <table class="table">
  <tr class="headline">
  	<th>Favourite</th>
  	<th>Title</th>
  	<th>Project number</th>
  	<th>Details</th>
  	<th>Status</th>
  </tr>
  {{#each favorites}}
  <tr id="projectlist" class="">
					<td>
						{{#if isFav}}
						<span class="glyphicon glyphicon-star" id="{{_id}}"></span>
						{{else}}
						<span class="glyphicon glyphicon-star-empty" id="{{_id}}"></span>
						{{/if}}
					</td>
					<td><a href="{{pathFor 'projectItem'}}">{{name}}</a></td>
					<td>{{number}}</td>
					<td>Details</td>
					<td>
						<button type="button" class="btn btn-{{status}} btn-xs">
						{{#if success}}
							<span class="glyphicon glyphicon-ok"></span> OK
						{{else}}
							{{#if warning}}
							<span class="glyphicon glyphicon-question-sign"></span> Warning
							{{else}}
							<span class="glyphicon glyphicon-remove"></span> Error
							{{/if}}
						{{/if}}
						</button>
						</td>
				</tr>
  {{/each}}
  {{#each projects}}
  <tr id="projectlist">
	<td>
		{{#if isFav}}
		<span class="glyphicon glyphicon-star" id="{{_id}}"></span>
		{{else}}
		<span class="glyphicon glyphicon-star-empty" id="{{_id}}"></span>
		{{/if}}
	</td>
	<td><a href="{{pathFor 'projectItem'}}">{{name}}</a></td>
	<td>{{number}}</td>
	<td>Details</td>
	<td>
		<button type="button" class="btn btn-{{status}} btn-xs">
		{{#if success}}
			<span class="glyphicon glyphicon-ok"></span> OK
		{{else}}
			{{#if warning}}
			<span class="glyphicon glyphicon-question-sign"></span> Warning
			{{else}}
			<span class="glyphicon glyphicon-remove"></span> Error
			{{/if}}
		{{/if}}
		</button>
		<td>
</tr>
  {{/each}}
  </table>
		</div>
</template>
<!-- <a href="{{pathFor 'projectPage'}}">{{title}}</a>-->